ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
  box-sizing: border-box; }

div,
section,
article,
header {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

html,
body {
  height: 100%; }

body {
  background: url(../../src/img/bg-beach-bird.jpg) no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; }

.header {
  background: #222;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  color: #fff;
  padding: 0 20px 0 40px;
  position: relative;
  z-index: 100; }
  .header:before, .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .list {
    height: 100%; }
    .header .list li {
      display: inline-block;
      margin-right: 0%;
      cursor: pointer; }
      .header .list li:last-child {
        margin-right: 0; }
      .header .list li:hover {
        background: #eee;
        background: rgba(255, 255, 255, 0.3); }
      .header .list li a {
        display: inline-block;
        text-indent: 0; }
  .header .left {
    float: left; }
    .header .left li {
      margin-right: 0%; }
  .header .right {
    float: right; }
    .header .right li {
      margin-right: 0; }
      .header .right li a {
        position: relative; }
        .header .right li a.icon {
          position: relative; }
        .header .right li a:hover:after {
          content: " " attr(data-title) " ";
          font-size: 16px;
          background: #222;
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(15px);
          padding: 15px 20px 15px 50px;
          white-space: nowrap;
          position: absolute;
          top: 72px;
          left: -25%; }
        .header .right li a:hover .tooltip {
          position: absolute;
          top: 70px;
          display: block;
          z-index: 10; }
          .header .right li a:hover .tooltip::before {
            content: "";
            position: absolute;
            bottom: -15px;
            left: -13px;
            border-width: 20px;
            border-style: solid;
            border-color: transparent transparent #222 transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent; }
          .header .right li a:hover .tooltip::after {
            content: "\f0c5";
            position: absolute;
            bottom: -30px;
            left: -20px;
            font-size: 14px;
            color: #bebebe;
            font-family: "FontAwesome";
            font-weight: 900;
            display: block; }

.icon {
  font-size: 0;
  display: block; }
  .icon:before {
    font-family: "FontAwesome";
    display: inline-block;
    vertical-align: middle;
    text-indent: 0; }

.icon-md {
  padding: 20px; }
  .icon-md:before {
    font-size: 25px;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-position: 50%; }

.icon-sm:before {
  font-size: 25px;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-position: 50%; }

.icon-xsm {
  padding: 0 20px;
  vertical-align: middle; }
  .icon-xsm:before {
    font-size: 20px;
    padding: 25px 0 20px;
    background-position: 50%; }

.start:before {
  content: "\f00a"; }

.home:before {
  content: "\f015"; }

.projects:before {
  content: "";
  background-image: url(../../src/img/icon-sys-projects.svg);
  background-repeat: no-repeat; }

.info:before {
  content: "";
  background-image: url(../../src/img/icon-sys-info.svg);
  background-repeat: no-repeat; }

.github:before {
  content: "\f09b"; }

.codepen:before {
  content: "\f1cb"; }

.linkedin:before {
  content: "\f0e1"; }

.whatsapp:before {
  content: "\f232"; }

.email:before {
  content: "\f0e0"; }

.eng.icon-xsm.icon {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 45px;
  position: relative;
  top: 0;
  padding: 22px 10px; }

.clock.icon.icon-xsm {
  padding: 10px; }
  .clock.icon.icon-xsm .timer {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.6; }

.css3 {
  background-image: url(../../src/img/icon-css3.png); }

.js {
  background-image: url(../../src/img/icon-js.png); }

.jquery {
  background-image: url(../../src/img/icon-jquery.png); }

.gimp {
  background-image: url(../../src/img/icon-gimp.png); }

.adobe-xd {
  background-image: url(../../src/img/icon-adobe-xd.png); }

.adobe-ae {
  background-image: url(../../src/img/icon-adobe-ae.png); }

.python {
  background-image: url(../../src/img/icon-python.png); }

.html5 {
  background-image: url(../../src/img/icon-html5.png); }

.js {
  background-image: url(../../src/img/icon-js.png); }

.es6 {
  background-image: url(../../src/img/icon-es6.png); }

.git {
  background-image: url(../../src/img/icon-gitbash.png); }

.sass {
  background-image: url(../../src/img/icon-sass.png); }

.grunt {
  background-image: url(../../src/img/icon-grunt.png); }

.gulp {
  background-image: url(../../src/img/icon-gulp.png); }

.adobe-photoshop {
  background-image: url(../../src/img/icon-photoshop.png); }

.vtex {
  background-image: url(../../src/img/icon-vtex.png); }

.mysql {
  background-image: url(../../src/img/icon-mysql.png); }

.main {
  height: 100%; }
  .main .start-menu {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.4s top 0s left 0s;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 50px 0;
    width: 70%;
    position: relative;
    z-index: 30; }
    .main .start-menu:before, .main .start-menu:after {
      content: "";
      display: table;
      clear: both; }
    .main .start-menu--group {
      margin-top: -40px;
      transition: all 0.4s; }
    .main .start-menu.active {
      height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition-delay: 0.2s; }
      .main .start-menu.active .start-menu--group {
        margin-top: 0;
        transition: all 0.4s; }
    .main .start-menu.inactive {
      height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition-delay: 0.2s; }
    .main .start-menu__user, .main .start-menu__skills, .main .start-menu__info {
      float: left;
      padding: 0 20px; }
      .main .start-menu__user:before, .main .start-menu__user:after, .main .start-menu__skills:before, .main .start-menu__skills:after, .main .start-menu__info:before, .main .start-menu__info:after {
        content: "";
        display: table;
        clear: both; }
    .main .start-menu__user {
      width: 12%;
      padding-left: 0;
      padding-right: 0; }
      .main .start-menu__user .tooltip {
        height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition-delay: 0.2s;
        white-space: nowrap;
        padding: 3px 7px;
        background: #333;
        border: 2px solid #979797;
        position: relative;
        left: 0;
        top: -100px; }
      .main .start-menu__user--img {
        padding: 10px;
        width: 40%;
        position: relative;
        cursor: pointer; }
        .main .start-menu__user--img:hover {
          background: #eee;
          background: rgba(255, 255, 255, 0.3); }
          .main .start-menu__user--img:hover + .tooltip {
            height: auto;
            opacity: 1;
            visibility: visible;
            transition: 0.4s top 0s left 0s; }
        .main .start-menu__user--img img {
          border-radius: 100%;
          width: 100%;
          height: auto; }
    .main .start-menu__skills--group {
      margin-bottom: 20px; }
      .main .start-menu__skills--group li {
        line-height: 2;
        cursor: pointer;
        padding: 0 3px;
        margin-left: -3px; }
        .main .start-menu__skills--group li:hover:not(.title) {
          background: #eee;
          background: rgba(255, 255, 255, 0.3); }
        .main .start-menu__skills--group li.title {
          margin: 0;
          padding: 0;
          cursor: auto; }
          .main .start-menu__skills--group li.title .icon {
            display: none; }
          .main .start-menu__skills--group li.title a {
            padding-right: 0;
            padding-left: 0; }
        .main .start-menu__skills--group li a {
          vertical-align: sub;
          padding-left: 10px; }
    .main .start-menu__info {
      width: 57%;
      padding-right: 0; }
      .main .start-menu__info--box .box li {
        float: left;
        margin: 4px;
        cursor: pointer; }
        .main .start-menu__info--box .box li:hover:not(.title) {
          -webkit-filter: brightness(130%) opacity(0.9);
          filter: brightness(130%) opacity(0.9); }
        .main .start-menu__info--box .box li.title {
          display: block;
          width: 100%;
          margin-bottom: 20px;
          cursor: auto; }
          .main .start-menu__info--box .box li.title .icon {
            display: none; }
          .main .start-menu__info--box .box li.title a {
            font-size: 16px; }
        .main .start-menu__info--box .box li a {
          font-size: 0;
          text-indent: -9999px; }
    .main .start-menu .icon {
      background-color: #202020; }
    .main .start-menu .icon-xsm {
      padding: 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: 60%;
      background-position: center center; }
    .main .start-menu .icon-md {
      padding: 0;
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center center;
      width: 100px;
      height: 100px; }
  .main .projects-modal {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition-delay: 0.2s;
    background: #333;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) grayscale(60%);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 40px 40px 100px 40px;
    margin-top: 65px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50; }
    .main .projects-modal.active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition: 0.4s top 0s left 0s;
      height: 100%; }
    .main .projects-modal .projects-group li {
      display: inline-block;
      position: relative;
      margin-right: 40px; }
      .main .projects-modal .projects-group li a {
        display: block; }
      .main .projects-modal .projects-group li.group-name {
        display: block;
        width: 100%;
        height: inital; }
        .main .projects-modal .projects-group li.group-name h2 {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 20px; }
          .main .projects-modal .projects-group li.group-name h2:not(:first-child) {
            margin-top: 40px; }
      .main .projects-modal .projects-group li.project {
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid transparent;
        overflow: hidden; }
        .main .projects-modal .projects-group li.project:hover {
          border: 2px solid #fff; }
        .main .projects-modal .projects-group li.project .tile {
          display: block;
          width: 250px;
          height: 200px; }
        .main .projects-modal .projects-group li.project h3 {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 10px; }
      .main .projects-modal .projects-group li img {
        width: 100%;
        height: auto; }
  .main .right-click-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition-delay: 0.2s;
    position: absolute;
    z-index: 20;
    background: #222;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    padding: 20px 0; }
    .main .right-click-menu.active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition: 0.4s top 0s left 0s;
      transition: height 1s opacity 1s; }
    .main .right-click-menu ul li {
      padding: 15px 40px;
      cursor: pointer; }
      .main .right-click-menu ul li:hover {
        background: #eee;
        background: rgba(255, 255, 255, 0.3); }
      .main .right-click-menu ul li .icon {
        margin-right: 40px; }
      .main .right-click-menu ul li a {
        vertical-align: middle; }
  .main .right-click-target {
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    left: 0; }
    .main .right-click-target.active {
      height: auto;
      opacity: 1; }
    .main .right-click-target:before {
      display: inline-block;
      content: "\f065";
      color: #fff;
      font-size: 30px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      animation: animate 0.6s alternate infinite ease-in-out; }

@keyframes animate {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
.right-click-menu .icon,
.footer .icon {
  display: inline-block; }
  .right-click-menu .icon:before,
  .footer .icon:before {
    color: #fff; }

.settings {
  position: absolute;
  top: 50%;
  transform: translate(108%, -80%);
  right: 20px;
  z-index: 20;
  /* margin-right: 20px; */
  border: 2px solid #222;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 15px 10px;
  transition: all 1s; }
  .settings.active {
    transform: translate(0, -80%); }
  .settings h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background: #222;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    display: inline-block;
    padding: 5px 20px;
    transform: rotate(-90deg) translate(-110px, -122px); }
  .settings .controller {
    background: #222;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 10px 20px; }
    .settings .controller:not(:last-child) {
      margin-bottom: 30px; }
  .settings .title {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #9199a2; }
  .settings .control {
    text-align: center; }
  .settings .button {
    background: #222;
    background: transparent;
    color: #fff;
    margin: 20px 0 10px;
    padding: 0 40px;
    transform: scale(1, 1.5);
    border: none;
    outline: none;
    display: inline-block;
    user-select: none;
    font-size: 0;
    cursor: pointer; }
    .settings .button:before, .settings .button:after {
      font-size: 40px;
      color: #fff;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
    .settings .button.prev:before {
      content: "\f104"; }
    .settings .button.next:before {
      content: "\f105"; }
  .settings #background-options {
    padding: 10px 0; }
    .settings #background-options input[type="radio"] {
      position: absolute;
      margin: 15px 30px;
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      cursor: pointer; }
      .settings #background-options input[type="radio"]:checked + label {
        background: #fff; }
    .settings #background-options label {
      font-size: 14px;
      font-weight: 700;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      transform: scale(1);
      float: left;
      padding: 5px 15px;
      margin: 0 0 5px;
      border: 1px solid #444;
      color: #818181;
      background: #313131;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      user-select: none;
      cursor: pointer; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .footer ul {
    display: inline-block;
    background: #222;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    padding: 0 20px;
    margin-bottom: 20px;
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
    .footer ul li {
      display: inline-block;
      padding: 20px;
      transition: all 0.4s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
      position: relative; }
      .footer ul li:hover {
        background: #eee;
        background: rgba(255, 255, 255, 0.3); }
      .footer ul li.active {
        padding: 20px 40px;
        transition: 0.4s; }
        .footer ul li.active .icon-sm:before {
          font-size: 45px;
          width: 45px;
          height: 45px;
          background-size: 45px;
          transition: 0.4s; }
        .footer ul li.active .icon-sm + a {
          font-size: 16px;
          position: relative;
          display: block;
          bottom: -15px;
          transition: 0.4s; }
      .footer ul li .email:before {
        content: "\f2b6";
        color: #fff;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900; }
      .footer ul li a {
        font-size: 0; }

/*# sourceMappingURL=styles.css.map */
