@import 'mixin';
 
:root {
    --mainColorFB: #223;
    --mainColor: rgba(0, 0, 0, 0.6);
    --hoverColor: rgba(255, 255, 255, 0.3);

    --mainColorFB_Chill: #222;
    --mainColor_Chill: rgba(0, 0, 0, 0.6);

    --mainColorBGSolid: #000;
    --hovers_Chill: rgba(255, 255, 255, 0.3);

    --secondaryColor: rgba(0, 0, 0, 0.6);
}

$mainColorFB: var(--mainColorFB);
$mainColor: var(--mainColor);
$hoverColor: var(--mainColor);

$mainColorFB_Chill: var(--mainColorFB_Chill);
$mainColor_Chill: var(--mainColor_Chill);
$hovers_Chill: var(--hovers_Chill);

$secondaryColor: var(--secondaryColor);
$mainColorBGSolid: var(--mainColorBGSolid);

// $mainColorFB: #222;
// $mainColor: rgba(0, 0, 0, 0.6);
// $hoverColor: rgba(255, 255, 255, 0.3);

// $mainColorFB_Chill: #222;
// $mainColor_Chill: rgba(0, 0, 0, 0.6);
// $hovers_Chill: rgba(255, 255, 255, 0.3);

// $secondaryColor: rgba(0, 0, 0, 0.6);

//Defaults | Resets
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
}

div,
section,
article,
header {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

//Defaults | Resets

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: url(../../src/img/bg-beach-bird.jpg) no-repeat;
    //background-size: cover;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    font-family: $fontMain;
    margin: 0;
}

main{
    position: relative;
}

.header {
    background: $mainColorFB;
    background: $mainColor;
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 0 10px 0 20px;
    @include clearfix;
    position: relative;
    z-index: 150;

    @include breakpoint('small') {
        padding: 0;
    }

    .list {
        height: 100%;
        > ul{
           > li {
                display: inline-block;
                margin-right: 0%;
                cursor: pointer;
    
                &:last-child {
                    margin-right: 0;
                }
    
                a {
                    display: inline-block;
                    text-indent: 0;
                    user-select: none;
    
                    &:hover,
                    &:active,
                    &.active {
                        background: #eee;
                        background: $hoverColor;
                    }
                }
            }
        }
    }

    .left {
        float: left;

        @include breakpoint('small') {
            width: 100%;
        }

        li {
            margin-right: 0%;
        }
    }

    .right {
        float: right;
        
        @include breakpoint('small') {
            width: auto;

            ul {
                text-align: center;
            }
        }
        >ul{
            > li {
                margin-right: 0;
    
                a {
                    position: relative;
    
                    &.icon {
                        position: relative;
                    }
    
                    &:hover {
    
                        &:after {
                            //@include slideToggleHidden;
                            content: " "attr(data-title)" "; //tooltip
                            font-size: 16px;
                            background: $mainColorFB;
                            background: $mainColor;
                            backdrop-filter: blur(15px);
                            padding: 15px 20px 15px 50px;
                            white-space: nowrap;
                            position: absolute;
                            top: 75px;
                            left: -25%;
                        }
    
                        // @include slideToggle;
                        .tooltip {
                            //empity element
                            position: absolute;
                            top: 70px;
                            display: block;
                            z-index: 100;
    
                            &::before {
                                //arrow icon| created only on hover
                                content: "";
                                position: absolute;
                                bottom: -5px;
                                left: -5px;
                                border-width: 10px;
                                border-style: solid;
                                border-color: transparent transparent $mainColorFB transparent;
                                border-color: transparent transparent $mainColor transparent;
                            }
    
                            &::after {
                                //copy icon| created only on hover
                                content: "\f0c5";
                                position: absolute;
                                bottom: -36px;
                                left: -18px;
                                font-size: 14px;
                                color: #bebebe;
                                font-family: "FontAwesome";
                                font-weight: 900;
                                display: block;
                            }
                        }
                    }
                }
    
                @include breakpoint('small') {
                    &#clock {
                        float: right;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

.icon {
    //Global
    //text-indent: -9999px;
    font-size: 0;
    display: block;
    min-width: 25px;
    min-height: 25px;
    background-size: contain;

    &:before {
        font-family: "FontAwesome";
        display: inline-block;
        vertical-align: middle;
        text-indent: 0;
    }
}


.icon-md {
    padding: 20px;

    &:before {
        font-size: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
        background-position: 50%;
    }
}

.icon-sm {
    &:before {
        font-size: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
        background-position: 50%;

        @include breakpoint('xsmall') {
            font-size: 20px;
            width: 20px;
            height: 20px;
            background-size: 20px;
        }
    }
}

.icon-xsm {
    padding: 0 20px;
    vertical-align: middle;

    @include breakpoint('xsmall') {
        padding: 0 10px;
    }

    &:before {
        font-size: 20px;
        padding: 25px 0 20px;
        background-position: 50%;
    }
}

//Global
.start {
    &:before {
        content: "\f00a";
    }
}

.home {
    &:before {
        content: "\f015";
    }
}

.projects {
    &:before {
        content: "";
        background-image: url(../../src/img/icon-sys-projects.svg);
        background-repeat: no-repeat;
    }
}

.info {
    &:before {
        content: "";
        background-image: url(../../src/img/icon-sys-info.svg);
        background-repeat: no-repeat;
    }
}

.github {
    &:before {
        content: "\f09b";
    }
}

.codepen {
    &:before {
        content: "\f1cb";
    }
}

.linkedin {
    &:before {
        content: "\f0e1";
    }
}

.whatsapp {
    &:before {
        content: "\f232";
    }
}

.email {
    &:before {
        content: "\f0e0";
    }
}

.language {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 45px;
    position: relative;
    top: 5px;
    padding: 22px 10px;
}

.option {
    padding: 10px;

    .tooltip {
        font-size: 12px;

        &:before,
        &:after {
            content: none !important;
        }
    }

    &:after {
        content: none !important;
    }

    .timer {
        display: block;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 14px;
        line-height: 1.6;
    }

    .drop-down-option {
        @include slideToggleHidden;
        position: absolute;
        top: 60px;
        // left: -67px;
        right: 0;
        line-height: 2;
        font-size: 14px;
        background: $mainColorBGSolid;
        padding: 0;

        &:active,
        &.active {
            @include slideToggle;
        }

        li {
            display: block;
            padding: 0 20px;
            cursor: pointer;

            &:active,
            &:hover,
            &.active {
                background: #8b8b8b;
            }
        }
    }
}

//Global
.css3 {
    background-image: url(../../src/img/icon-css3.png);
}

.js {
    background-image: url(../../src/img/icon-js.png);
}

.jquery {
    background-image: url(../../src/img/icon-jquery.png);
}

.react {
    background-image: url(../../src/img/icon-react.png);
}

.nodejs {
    background-image: url(../../src/img/icon-nodejs.png);
}

.gimp {
    background-image: url(../../src/img/icon-gimp.png);
}

.adobe-xd {
    background-image: url(../../src/img/icon-adobe-xd.png);
}

.adobe-ae {
    background-image: url(../../src/img/icon-adobe-ae.png);
}

.python {
    background-image: url(../../src/img/icon-python.png);
}

.react {
    background-image: url(../../src/img/icon-react.png);
}

.html5 {
    background-image: url(../../src/img/icon-html5.png);
}

.js {
    background-image: url(../../src/img/icon-js.png);
}

.es6 {
    background-image: url(../../src/img/icon-es6.png);
}

.git {
    background-image: url(../../src/img/icon-gitbash.png);
}

.sass {
    background-image: url(../../src/img/icon-sass.png);
}


.grunt {
    background-image: url(../../src/img/icon-grunt.png);
}

.gulp {
    background-image: url(../../src/img/icon-gulp.png);
}


.adobe-photoshop {
    background-image: url(../../src/img/icon-photoshop.png);
}

.vtex {
    background-image: url(../../src/img/icon-vtex.png);
}

.mysql {
    background-image: url(../../src/img/icon-mysql.png);
}

.spotify {
    background-image: url(../../src/img/icon-spotify.png);
    filter: grayscale(1) invert(1);
}

.spotify:hover {
    filter: none;
}



.main {
    overflow-x: hidden;
    height: 100%;

    .start-menu {
        @include slideToggleHidden;
        background: $mainColorBGSolid;
        background: $mainColor;
        backdrop-filter: blur(15px);
        color: #fff;
        // padding: 50px 0 10px;
        padding: 4vh 0 10px;
        width: 70vw;
        max-width: 1160px;
        @include clearfix;
        position: relative;
        z-index: 100;
        @include breakpoint('medium') {
            width: 75vw;
        }

        @include breakpoint('820') {
            width: auto;
        }

        @include breakpoint('small') {
            
            padding: 0;
        }

        &--group {
            margin-top: -10px;
            transition: 0.3s;
        }

        &.active {
            //reverse active particular case
            @include slideToggle;

            .start-menu--group {
                margin-top: 0;
                transition: 0.3s;
                @include clearfix;
            }
        }

        &__user,
        &__skills,
        &__info {
            float: left;
            padding: 0 1vw;
            @include clearfix;

            @include breakpoint('xsmall') {
                float: none;
                width: 100%;
            }
        }

        &__user {
            width: 6vw;
            max-width: 150px;
            padding-left: 1vw;
            padding-right: 0;

            @include breakpoint('small') {
                width: 20%;
            }

            @include breakpoint('small') {
                width: 40%;
            }

            .tooltip {
                @include slideToggleHidden;
                white-space: nowrap;
                padding: 3px 7px;
                background: #333;
                border: 2px solid #979797;
                position: relative;
                left: 0;
                top: -95px;
            }

            &--img {
                // padding: 10px;
                max-width: 110px;
                width: 100%;
                position: relative;
                cursor: pointer;

                &:hover,
                &:active,
                &.active {
                    background: #eee;
                    background: $hoverColor;

                    +.tooltip {
                        @include slideToggle;
                    }
                }

                img {
                    border-radius: 100%;
                    width: 100%;
                    height: auto;
                }
            }


        }

        &__skills {
            &--group {
                margin-bottom: 20px;

                li {
                    line-height: 2;
                    cursor: pointer;
                    padding: 0 3px;
                    margin-left: -3px;

                    &:hover:not(.title) {
                        background: #eee;
                        background: $hoverColor;
                    }

                    &.title {
                        margin: 0;
                        padding: 0;
                        cursor: auto;

                        .icon {
                            display: none;
                        }

                        a {
                            padding-right: 0;
                            padding-left: 0;
                            cursor: auto;
                        }
                    }

                    a {
                        vertical-align: sub;
                        // padding-left: 10px;
                        padding-left: 0;
                        span.text{
                            padding-left: 7px;
                        }
                    }
                }
            }
        }

        &__info {
            max-width: 40vw;
            padding-right: 0;
            
            @include breakpoint("655") {
                max-width: 30vw;
                padding-right: 0;
                float: left;
                margin: 0 3vw;
            }

            &--box {
                .box {
                    overflow: hidden;
                    li {
                        float: left;
                        margin: 4px;
                        cursor: pointer;

                        &:hover:not(.title) {
                            -webkit-filter: brightness(130%) opacity(.9);
                            filter: brightness(130%) opacity(.9);
                        }

                        &.title {
                            display: block;
                            width: 100%;
                            margin-bottom: 20px;
                            cursor: auto;

                            .icon {
                                display: none;
                            }

                            a {
                                font-size: 16px;
                                cursor: auto;
                            }
                        }

                        a {
                            font-size: 0;
                            text-indent: -9999px;
                        }

                        @include breakpoint('small') {
                            .icon-md {
                                width: 80px;
                                height: 0; //aspect ratio
                                padding-top: 100%;
                            }
                        }

                        @include breakpoint('xsmall') {
                            .icon-md {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }

        .icon {
            background-color: #202020;
        }

        .icon-xsm {
            padding: 0;
            background-repeat: no-repeat;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: 60%;
            background-position: center center;
        }

        .icon-md {
            padding: 0;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center center;
            //float: left;
            width: 6vw;
            height: 6vw;
            max-width: 120px;
            max-height: 120px;
        }
    }

    .projects-modal {
        @include slideToggleHidden;
        background: #333;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px) grayscale(60%);
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 40px 40px 6vw 40px;
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;

        @include breakpoint('small') {
            padding: 40px 10px 6vw 10px;
        }

        &.active {
            @include slideToggle;
            height: 100%;

            @include breakpoint('mobile') {
                overflow: scroll;
            }
        }

        .projects-group {
            li {
                display: inline-block;
                position: relative;
                margin-right: 40px;

                a {
                    display: block;
                }

                &.group-name {
                    display: block;
                    width: 100%;
                    height: inital;

                    h2 {
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 20px;

                        &:not(:first-child) {
                            margin-top: 40px;
                        }
                    }
                }

                &.project {
                    cursor: pointer;
                    padding: 0 10px;
                    border: 2px solid transparent;
                    overflow: hidden;

                    .tile {
                        display: block;
                        width: 250px;
                        height: 200px;

                        &:hover {
                            border: 2px solid #fff;
                        }
                    }

                    h3 {
                        font-size: 14px;
                        font-weight: normal;
                        margin-bottom: 10px;
                    }
                }


                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .right-click {
        &-menu {
            @include slideToggleHidden;
            position: absolute;
            z-index: 20;
            background: $mainColorFB;
            background: $mainColor;
            backdrop-filter: blur(15px);
            padding: 20px 0;

            &.active {
                @include slideToggle;
                transition: height 1s opacity 1s;
            }

            ul {
                li {
                    padding: 15px 40px;
                    cursor: pointer;

                    &:hover {
                        background: #eee;
                        background: $hoverColor;
                    }

                    .icon {
                        margin-right: 40px;
                    }

                    a {
                        vertical-align: middle;
                    }
                }
            }
        }

        &-target {
            opacity: 0;
            transition: opacity 0.3s;
            position: absolute;
            top: 0;
            left: 0;

            &.active {
                height: auto;
                opacity: 1;
            }

            &:before {
                display: inline-block;
                content: "\f065";
                color: #fff;
                font-size: 30px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                animation: animate 0.3s alternate infinite ease-in-out;
            }
        }
    }
}

@keyframes animate {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


//Global
.right-click-menu,
.footer {
    .icon {
        display: inline-block;
        vertical-align: middle;

        &:before {
            color: #fff;
        }
    }
}


.settings-background {
    position: absolute;
    // top: 30%;
    top: calc(20px + 5vh);
    right: 0;
    z-index: 20;
    padding-left: 80px;
    // overflow: hidden;

    &-wrap {
        transform: translate(105%, 0);
        z-index: 20;
        transition: all 0.7s;

        .settings-background-tab {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 90%;
            // background: var(--mainColorFB);
            background: var(--mainColor);
            backdrop-filter: blur(15px);
            display: inline-block;
            height: 40px;
            line-height: 35px;
            min-width: 170px;
            padding: 0 5px;
            text-align: center;
            transform: rotate(-90deg) translate(-108px, -115px);
            cursor: pointer;
            transition: 1s;

            &:after {
                content: "\f013";
                color: #fff;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-left: 10px;
            }
        }

        .controller {
            background: $mainColorFB;
            background: $mainColor;
            backdrop-filter: blur(15px);
            color: #fff;
            padding: 10px 20px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        .title {
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0.1em;
            text-align: center;
            border-bottom: 1px solid #9199a2;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .control {
            text-align: center;
        }

        #info {

            &-background,
            &-theme,
            &-further {
                display: -webkit-box;
                width: 100%;
                margin: 10px auto 5px;
                max-width: 215px;
                max-height: 110px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: center;
                font-size: 13px;
                font-style: italic;
                font-weight: 300;
                line-height: 2;
                letter-spacing: 0.15em;
                text-transform: capitalize;
            }
        }

        .button {
            background: $mainColorFB;
            background: transparent;
            color: #fff;
            margin: 20px 0 10px;
            padding: 0 40px;
            transform: scale(1, 1.5);
            border: none;
            outline: none;
            display: inline-block;
            user-select: none;
            font-size: 0;
            cursor: pointer;

            &:before,
            &:after {
                font-size: 40px;
                color: #fff;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }

            &.prev {
                &:before {
                    content: "\f104";
                }
            }

            &.next {
                &:before {
                    content: "\f105";
                }
            }
        }

        #background-options,
        #theme-options {
            padding: 10px 0;
            @include clearfix;

            input[type="radio"] {
                position: absolute;
                margin: 15px 30px;
                height: 1px;
                width: 1px;
                border: 0;
                overflow: hidden;
                cursor: pointer;

                &:checked+label {
                    color: $mainColorFB;
                    background: #d8d8d8;
                    box-shadow: 1px 0 4px 0px rgba(0, 0, 0, 0.2), -1px 0 4px 0px rgba(0, 0, 0, 0.2);
                    font-weight: 700;
                    position: relative;
                    z-index: 1;
                }
            }

            label {
                font-size: 14px;
                font-family: $fontSupport;
                transform: scale(1);
                float: left;
                padding: 5px 0;
                min-width: 70px;
                text-align: center;
                text-transform: capitalize;
                margin: 0 0 5px;
                border: 1px solid #444;
                color: #818181;
                background: #313131;
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                user-select: none;
                cursor: pointer;
                transition: 0.1s;
            }
        }


        &.active {
            transform: translate(0, 0);
            .settings-background-tab {
                transform: initial;
                // width: 100%;
                transform: rotate(0deg) translate(0, -4px);
                transition: 0.5s;
                &:after {}
            }

            .controller {
                &:not(:last-child) {}
            }

            .title {}

            .control {}

            #info {

                &-background,
                &-theme,
                &-further {
                    -webkit-line-clamp: 4;
                }
            }

            .button {

                &:before,
                &:after {}

                &.prev {
                    &:before {
                        &:active {
                            font-size: 37px;
                        }
                    }
                }

                &.next {
                    &:before {
                        font-size: 37px;
                    }
                }
            }

            #background-options,
            #theme-options {

                input[type="radio"] {

                    &:checked+label {}
                }

                label {}
            }
        }
    }
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    ul {
        display: inline-block;
        background: $mainColorFB;
        background: $mainColor;
        backdrop-filter: blur(15px);
        padding: 0;
        margin-bottom: 5px;
        transition: all 0.3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        @include breakpoint('small') {
            padding: 0 10px;
            margin-bottom: 10px;
        }

        li {
            float: left;
            padding: 15px 20px;
            transition: all 0.3s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;
            position: relative;

            @include breakpoint('small') {
                padding: 10px;
            }

            @include breakpoint('xsmall') {
                padding: 5px;
            }

            &:hover {
                background: #eee;
                background: $hoverColor;
            }

            &.active {
                // padding: 20px 40px;
                transition: 0.3s;

                .icon-sm {
                    &:before {
                        // font-size: 45px;
                        // width: 45px;
                        // height: 45px;
                        // background-size: 45px;
                        transition: 0.3s;
                    }

                    +a {
                        // font-size: 16px;
                        position: relative;
                        display: block;
                        // bottom: -15px;
                        transition: 0.3s;
                    }
                }
            }

            .email {
                &:before {
                    content: "\f2b6";
                    color: #fff;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            a {
                font-size: 0;
            }
        }
    }
}