@import 'mixin';

//Defaults | Resets
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
}

div,
section,
article,
header {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

//Defaults | Resets

html,
body {
    height: 100%;
}

body {
    background: url(../../src/img/bg-beach-bird.jpg) no-repeat;
    //background-size: cover;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    font-family: $fontMain;
    margin: 0;
}

.header {
    background: #222;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 0 20px 0 40px;
    @include clearfix;
    position: relative;
    z-index: 100;

    .list {
        height: 100%;

        li {
            display: inline-block;
            margin-right: 0%;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: #eee;
                background: rgba(255, 255, 255, 0.3);
            }

            a {
                display: inline-block;
                text-indent: 0;
            }
        }
    }

    .left {
        float: left;

        li {
            margin-right: 0%;
        }
    }

    .right {
        float: right;

        li {
            margin-right: 0;

            a {
                position: relative;

                &.icon {
                    position: relative;
                }

                &:hover {

                    &:after {
                        //@include slideToggleHidden;
                        content: " "attr(data-title)" "; //tooltip
                        font-size: 16px;
                        background: #222;
                        background: rgba(0, 0, 0, 0.6);
                        backdrop-filter: blur(15px);
                        padding: 15px 20px 15px 50px;
                        white-space: nowrap;
                        position: absolute;
                        top: 75px;
                        left: -25%;
                    }

                    // @include slideToggle;
                    .tooltip {
                        //empity element
                        position: absolute;
                        top: 70px;
                        display: block;
                        z-index: 10;

                        &::before {
                            //arrow icon| created only on hover
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            left: -5px;
                            border-width: 10px;
                            border-style: solid;
                            border-color: transparent transparent #222 transparent;
                            border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
                        }

                        &::after {
                            //copy icon| created only on hover
                            content: "\f0c5";
                            position: absolute;
                            bottom: -36px;
                            left: -18px;
                            font-size: 14px;
                            color: #bebebe;
                            font-family: "FontAwesome";
                            font-weight: 900;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.icon {
    //Global
    //text-indent: -9999px;
    font-size: 0;
    display: block;

    &:before {
        font-family: "FontAwesome";
        display: inline-block;
        vertical-align: middle;
        text-indent: 0;
    }
}


.icon-md {
    padding: 20px;

    &:before {
        font-size: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
        background-position: 50%;
    }
}

.icon-sm {
    &:before {
        font-size: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
        background-position: 50%;
    }
}

.icon-xsm {
    padding: 0 20px;
    vertical-align: middle;

    &:before {
        font-size: 20px;
        padding: 25px 0 20px;
        background-position: 50%;
    }
}

//Global
.start {
    &:before {
        content: "\f00a";
    }
}

.home {
    &:before {
        content: "\f015";
    }
}

.projects {
    &:before {
        content: "";
        background-image: url(../../src/img/icon-sys-projects.svg);
        background-repeat: no-repeat;
    }
}

.info {
    &:before {
        content: "";
        background-image: url(../../src/img/icon-sys-info.svg);
        background-repeat: no-repeat;
    }
}

.github {
    &:before {
        content: "\f09b";
    }
}

.codepen {
    &:before {
        content: "\f1cb";
    }
}

.linkedin {
    &:before {
        content: "\f0e1";
    }
}

.whatsapp {
    &:before {
        content: "\f232";
    }
}

.email {
    &:before {
        content: "\f0e0";
    }
}

.eng.icon-xsm.icon {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 45px;
    position: relative;
    top: 0;
    padding: 22px 10px;
}

.clock.icon.icon-xsm {
    padding: 10px;

    .timer {
        display: block;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 14px;
        line-height: 1.6;
    }
}

//Global
.css3 {
    background-image: url(../../src/img/icon-css3.png);
}

.js {
    background-image: url(../../src/img/icon-js.png);
}

.jquery {
    background-image: url(../../src/img/icon-jquery.png);
}

.gimp {
    background-image: url(../../src/img/icon-gimp.png);
}

.adobe-xd {
    background-image: url(../../src/img/icon-adobe-xd.png);
}

.adobe-ae {
    background-image: url(../../src/img/icon-adobe-ae.png);
}

.python {
    background-image: url(../../src/img/icon-python.png);
}

.html5 {
    background-image: url(../../src/img/icon-html5.png);
}

.js {
    background-image: url(../../src/img/icon-js.png);
}

.es6 {
    background-image: url(../../src/img/icon-es6.png);
}

.git {
    background-image: url(../../src/img/icon-gitbash.png);
}

.sass {
    background-image: url(../../src/img/icon-sass.png);
}


.grunt {
    background-image: url(../../src/img/icon-grunt.png);
}

.gulp {
    background-image: url(../../src/img/icon-gulp.png);
}


.adobe-photoshop {
    background-image: url(../../src/img/icon-photoshop.png);
}

.vtex {
    background-image: url(../../src/img/icon-vtex.png);
}

.mysql {
    background-image: url(../../src/img/icon-mysql.png);
}


.main {
    height: 100%;

    .start-menu {
        @include slideToggle;
        background: #000;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(15px);
        color: #fff;
        padding: 50px 0 10px;
        width: 56%;
        @include clearfix;
        position: relative;
        z-index: 100;

        &--group {
            margin-top: -10px;
            transition: all 0.4s;
        }

        &.active {
            //reverse active particular case
            @include slideToggleHidden;

            .start-menu--group {
                margin-top: 0;
                transition: all 0.4s;
            }
        }

        &.inactive {
            @include slideToggleHidden;
        }

        &__user,
        &__skills,
        &__info {
            float: left;
            padding: 0 20px;
            @include clearfix;
        }

        &__user {
            width: 10%;
            padding-left: 0;
            padding-right: 0;

            .tooltip {
                @include slideToggleHidden;
                white-space: nowrap;
                padding: 3px 7px;
                background: #333;
                border: 2px solid #979797;
                position: relative;
                left: 0;
                top: -95px;
            }

            &--img {
                padding: 10px;
                width: 80%;
                position: relative;
                cursor: pointer;

                &:hover {
                    background: #eee;
                    background: rgba(255, 255, 255, 0.3);

                    +.tooltip {
                        @include slideToggle;
                    }
                }

                img {
                    border-radius: 100%;
                    width: 100%;
                    height: auto;
                }
            }


        }

        &__skills {
            &--group {
                margin-bottom: 20px;

                li {
                    line-height: 2;
                    cursor: pointer;
                    padding: 0 3px;
                    margin-left: -3px;

                    &:hover:not(.title) {
                        background: #eee;
                        background: rgba(255, 255, 255, 0.3);
                    }

                    &.title {
                        margin: 0;
                        padding: 0;
                        cursor: auto;

                        .icon {
                            display: none;
                        }

                        a {
                            padding-right: 0;
                            padding-left: 0;
                            cursor: auto;
                        }
                    }

                    a {
                        vertical-align: sub;
                        padding-left: 10px;

                    }
                }
            }
        }

        &__info {
            width: 65%;
            padding-right: 0;

            @include breakpoint(1800) {
                width: 50%;
            }

            &--box {
                .box {
                    li {
                        float: left;
                        margin: 4px;
                        cursor: pointer;

                        &:hover:not(.title) {
                            -webkit-filter: brightness(130%) opacity(.9);
                            filter: brightness(130%) opacity(.9);
                        }

                        &.title {
                            display: block;
                            width: 100%;
                            margin-bottom: 20px;
                            cursor: auto;

                            .icon {
                                display: none;
                            }

                            a {
                                font-size: 16px;
                                cursor: auto;
                            }
                        }

                        a {
                            font-size: 0;
                            text-indent: -9999px;
                        }

                        @include breakpoint(1800) {
                            .icon-md {
                                width: 80px;
                                height: 0;//aspect ratio
                                padding-top: 100%;
                            }
                        }
                    }
                }
            }
        }

        .icon {
            background-color: #202020;
        }

        .icon-xsm {
            padding: 0;
            background-repeat: no-repeat;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: 60%;
            background-position: center center;
        }

        .icon-md {
            padding: 0;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center center;
            //float: left;
            width: 100px;
            height: 100px;
        }
    }

    .projects-modal {
        @include slideToggleHidden;
        background: #333;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px) grayscale(60%);
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 40px 40px 100px 40px;
        margin-top: 65px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;

        &.active {
            @include slideToggle;
            height: 100%;
        }

        .projects-group {
            li {
                display: inline-block;
                position: relative;
                margin-right: 40px;

                a {
                    display: block;
                }

                &.group-name {
                    display: block;
                    width: 100%;
                    height: inital;

                    h2 {
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 20px;

                        &:not(:first-child) {
                            margin-top: 40px;
                        }
                    }
                }

                &.project {
                    cursor: pointer;
                    padding: 0 10px;
                    border: 2px solid transparent;
                    overflow: hidden;

                    &:hover {
                        border: 2px solid #fff;
                    }

                    .tile {
                        display: block;
                        width: 250px;
                        height: 200px;
                    }

                    h3 {
                        font-size: 14px;
                        font-weight: normal;
                        margin-bottom: 10px;
                    }
                }


                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .right-click {
        &-menu {
            @include slideToggleHidden;
            position: absolute;
            z-index: 20;
            background: #222;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(15px);
            padding: 20px 0;

            &.active {
                @include slideToggle;
                transition: height 1s opacity 1s;
            }

            ul {
                li {
                    padding: 15px 40px;
                    cursor: pointer;

                    &:hover {
                        background: #eee;
                        background: rgba(255, 255, 255, 0.3);
                    }

                    .icon {
                        margin-right: 40px;
                    }

                    a {
                        vertical-align: middle;
                    }
                }
            }
        }

        &-target {
            opacity: 0;
            transition: opacity 0.4s;
            position: absolute;
            top: 0;
            left: 0;

            &.active {
                height: auto;
                opacity: 1;
            }

            &:before {
                display: inline-block;
                content: "\f065";
                color: #fff;
                font-size: 30px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                animation: animate 0.6s alternate infinite ease-in-out;
            }
        }
    }
}

@keyframes animate {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


//Global
.right-click-menu,
.footer {
    .icon {
        display: inline-block;
        vertical-align: middle;

        &:before {
            color: #fff;
        }
    }
}

.settings-background {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 20;
    padding-left: 80px;
    overflow: hidden;

    &-wrap {
        transform: translate(105%, 0);
        z-index: 20;
        transition: all 0.4s;

        &.active {
            transform: translate(-5%, 0);

            .settings-background-tab {
                transition: 0.4s;
            }
        }

        .settings-background-tab {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 20px;
            background: #222;
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(15px);
            display: inline-block;
            padding: 5px 11px 7px;
            transform: rotate(-90deg) translate(-108px, -115px);
            cursor: pointer;

            &:after {
                content: "\f013";
                color: #fff;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-left: 10px;
            }
        }

        .controller {
            background: #222;
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(15px);
            color: #fff;
            padding: 10px 20px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .title {
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0.1em;
            margin-bottom: 15px;
            text-align: center;
            border-bottom: 1px solid #9199a2;
        }

        .control {
            text-align: center;
        }

        #info {

            &-background,
            &-theme,
            &-further {
                display: -webkit-box;
                width: 100%;
                margin: 10px auto 5px;
                max-width: 215px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: center;
                font-size: 13px;
                font-style: italic;
                font-weight: 300;
                line-height: 2;
                letter-spacing: 0.15em;
                text-transform: capitalize;

                &:active {
                    -webkit-line-clamp: 4;
                }
            }
        }

        .button {
            background: #222;
            background: transparent;
            color: #fff;
            margin: 20px 0 10px;
            padding: 0 40px;
            transform: scale(1, 1.5);
            border: none;
            outline: none;
            display: inline-block;
            user-select: none;
            font-size: 0;
            cursor: pointer;

            &:before,
            &:after {
                font-size: 40px;
                color: #fff;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }

            &.prev {
                &:before {
                    content: "\f104";

                    &:active {
                        font-size: 37px;
                    }
                }
            }

            &.next {
                &:before {
                    content: "\f105";

                    &:active {
                        font-size: 37px;
                    }
                }
            }
        }

        #background-options {
            padding: 10px 0;

            input[type="radio"] {
                position: absolute;
                margin: 15px 30px;
                height: 1px;
                width: 1px;
                border: 0;
                overflow: hidden;
                cursor: pointer;

                &:checked+label {
                    color: #222;
                    background: #d8d8d8;
                    box-shadow: 1px 0 4px 0px rgba(0, 0, 0, 0.2), -1px 0 4px 0px rgba(0, 0, 0, 0.2);
                    font-weight: 700;
                    position: relative;
                    z-index: 1;
                }
            }

            label {
                font-size: 14px;
                font-family: $fontSupport;
                transform: scale(1);
                float: left;
                padding: 5px 0;
                min-width: 70px;
                text-align: center;
                margin: 0 0 5px;
                border: 1px solid #444;
                color: #818181;
                background: #313131;
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                user-select: none;
                cursor: pointer;
                transition: 0.1s;
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    ul {
        display: inline-block;
        background: #222;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(15px);
        padding: 0 20px;
        margin-bottom: 20px;
        transition: all 0.4s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        li {
            display: inline-block;
            padding: 20px;
            transition: all 0.4s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;
            position: relative;

            &:hover {
                background: #eee;
                background: rgba(255, 255, 255, 0.3);
            }

            &.active {
                padding: 20px 40px;
                transition: 0.4s;

                .icon-sm {
                    &:before {
                        font-size: 45px;
                        width: 45px;
                        height: 45px;
                        background-size: 45px;
                        transition: 0.4s;
                    }

                    +a {
                        font-size: 16px;
                        position: relative;
                        display: block;
                        bottom: -15px;
                        transition: 0.4s;
                    }
                }
            }

            .email {
                &:before {
                    content: "\f2b6";
                    color: #fff;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            a {
                font-size: 0;
            }
        }
    }
}